# Example .custom-packages file for build-custom-image.sh
# List packages one per line, without comments or extra whitespace
# These packages will be pre-installed when building the custom Docker image

# Scientific & Academic
algorithm
algorithmic
amscd
amsbsy
amsgen
amsop
amstext
comment

# Graphics & Visualization
appendixnumberbeamer
asymptote
dvisvgm
feynmp
gnuplottex
graphicx
pgfplots
pstricks
pst-grad
pst-plot
tikzfeling
tikzobjlib
tizk
xetexfontinfo

# Typography & Formatting
adjustbox
array
arydshln
bigfoot
boldface
cancel
cellspace
colortbl
dcolumn
diagbox
makecell
multirow
rccol
slashbox
spirit

# Bibliography & References
apacite
apalike
authoraftertitle
babelbib
biblatex
bibtopic
breakcites
cite
cited
crossreftools
gbt7714
harvard
jurabib
natbib
splitbib
ueberbib

# Language & Babel
babel-czech
babel-danish
babel-dutch
babel-english
babel-finnish
babel-french
babel-german
babel-hungarian
babel-italian
babel-polish
babel-portuguese
babel-russian
babel-spanish
babel-slovenian
babel-swedish
babel-turkish
bidi
bidipagegrid
ctex
fandol
gbsn
hyperxmp
indentfirst
luatexja
luatexjai
ntheorem
platex
platexchars
pygmentex
russian
xecjk

# Fonts & Math
accsupp
adobemapping
ae
aeguill
alias
amiri
amiri-quran
aramaic-serto
ascii
ascii-font
ass
avisogenus
axiom
bakoma
baskervald
baskervillef
beautifulfonts
belleek
bertoletti-fonts
bevan
bezierplot
beuron
blacklettert1
cantarell
carlislefonts
ccfonts
ccicons
cfr-lm
comic
concmath
concmath-fonts
concraft
congruum
contribs
coptic
copticcjk
crimson
crimson-pro
cyklop
cypriot
dejavu
dejavu-otf
digiface
dingbatsbullets
doublestroke
droid

# Lists, Tables & Counters
etaremune
glossaries
glossaries-accsupp
glossaries-finnish
glossaries-french
glossaries-german
glossaries-italian
glossaries-spanish
loadhyperref
longtable
mdframed
ncctools
nccfancyhdr
nicefrac
ntgclass
pagenote
perltex
pgf
pict2e
pictex
pictex-addon
piechartmp
plantedtree
play
polytonic
ponceau
polynom
polytonic
polytonicem
polyglossia
popular
ppt-slides
preprints
prettyref
prevpage
preview
prmag
pruefling
psgo
psizzl
pst-asr
pst-blur
pst-calendar
pst-circ
pst-coil
pst-eps
pst-fill
pst-fit
pst-for
pst-geo
pst-ghsb
pst-infixplot
pst-intersect
pst-knot
pst-layout
pst-lens
pst-light3d
pst-math
pst-mirror
pst-nose
pst-optexp
pst-perspective
pst-plot
pst-poly
pst-pulley
pst-QTree
pst-rdf
pst-render
pst-solides3d
pst-spirograph
pst-thick
pst-tools
pst-uml
pst-viewportall
pstricks
pstricks-add
pstricks-calcnote
pstricks-fill
pstriker
psutils
ptmx
ptm
pub
pvaGoal
pxbase
pxchfon
pxfonts

# Extensions & Special Features
algorithm
autobreak
autopdf
autos
autumn
awesomebox
axessibility
axesfordates
axodraw2
babel-armenian
babel-basque
babel-catalan
babel-cornish
babel-esperanto
babel-farsi
babel-ga
babel-gaelic
babel-greek
babel-hebrew
babel-indonesian
babel-irish
babel-irish
babel-lao
babel-latin
babel-norwegian
babel-occitan
babel-vietnamese

# Document Classes & Styles
abdnc
abntex2
abstract
accanthis
acmart
acrobat
acre
acro
acronym
acrotex
acrylic
actuarialangle
actuarialnotation
actuarialsymbol
actuarialsvg
acv
ada
add-acronym
addlines
addtolength
adjustwidth
adfsymbols
adforn
adfthorne
adfs
adinclude
adjncorrection
adjmulticol
adjmulticolwrapper
adjustbox
adjutrix
adlabel
admin
admissions
admonition
admsymbol
adolist
adpage
adryfin
advanced
adversarial
advised
advising
aecc
aeccitationcolor
aeccitationcorrection
aecciteformat
aeccitestyle
aeccitationvisible

# Uncomment specific packages you need above
# Or add your own packages below, one per line
